<h2>Create a new product:</h2>

<div *ngIf="errorCheck">
    <p style="color:red" *ngFor="let error of errors">{{error}}</p>
</div>

<form (submit)="addNew()">
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" name="newProduct.title" [(ngModel)]="newProduct.title" /></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="text" name="newProduct.price" [(ngModel)]="newProduct.price" /></td>
        </tr>
        <tr>
            <td>Photo URL: </td>
            <td><input type="text" name="newProduct.url" [(ngModel)]="newProduct.url" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add new" /></td>
        </tr>
    </table>
</form>
